<?xml version="1.0"?>
<model>
  <name>Typhoon H480 RS</name>
  <version>1.0</version>
  <sdf version="1.5">typhoon_h480.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <!--author post modification-->
  <author>
    <name>Adwait Naik</name>
    <email>adwaitnaik2@gmail.com</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480.
  </description>
</model>
