[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/slim71/PX4-Autopilot
[submodule "src/Micro-XRCE-DDS-Agent"]
	path = src/Micro-XRCE-DDS-Agent
	url = https://github.com/slim71/Micro-XRCE-DDS-Agent
